/* $Id$ */

/**
 * @file
 * Custom CSS for site_manager_courses module.
 *
 */

span.available-yes {
  background: url(images/checkbox_on.gif) no-repeat;
  display: block;
  height: 0;
  overflow: hidden;
  padding-top: 12px;
  width: 12px;
}

span.available-no {
  background: url(images/checkbox_off.gif) no-repeat;
  display: block;
  height: 0;
  overflow: hidden;
  padding-top: 12px;
  width: 12px;
}
